<p id="notice"><%= notice %></p>

<h1>Cap Table</h1>

<table>
  <thead>
  <tr>
    <th colspan="3">Pre Finance</th>
    <th colspan="2">Post Finance</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Investment</th>
    <th>Stake</th>
    <th>Investment</th>
    <th>Nr Shares Issued</th>
    <th>Price Per Share</th>
    <th>Stake</th>
  </tr>
  </thead>

  <tbody>
  <% @displaydata.each do |data| %>
    <tr>
      <td><%= data[:name] %></td>
      <td><%= data.fetch(:pre_finance,{}).fetch(:investment, '-') %></td>
      <td><%= number_to_percentage data.fetch(:pre_finance,{}).fetch(:stake) * 100 rescue "-"%></td>
      <td><%= data[:post_finance][:investment] %></td>
      <td><%= data[:post_finance][:nr_shares] %></td>
      <td><%= data[:post_finance][:price_per_share] %></td>
      <td><%= number_to_percentage data[:post_finance][:stake] * 100 %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td>Total</td>
    <td><%= @displaydata.map{|data|data.fetch(:pre_finance,{}).fetch(:investment,0)}.sum %></td>
    <td><%=  %></td>
    <td><%= @displaydata.map{|data|data.fetch(:post_finance,{}).fetch(:investment,0)}.sum %></td>
    <td><%= @displaydata.map{|data|data.fetch(:post_finance,{}).fetch(:nr_shares,0)}.sum %></td>
    <td><%=  %></td>
    <td><%= number_to_percentage @displaydata.map{|data| data.fetch(:post_finance,{}).fetch(:stake, 0)}.sum * 100  %></td>
  </tr>
  </tfoot>
</table>

<br>
Pre money Valuation: <%= @pre_money_valuation %>
<br>

Post money Valuation: <%= @post_money_valuation %>
<br>

<%= link_to 'New Investment Round', new_investment_path %>
