<p id="notice"><%= notice %></p>

<h1>Cap Table</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Pre Finance</th>
      <th colspan="2">Post Finance</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Investment</th>
      <th>Stake</th>
      <th>Investment</th>
      <th>Nr Shares Issued</th>
      <th>Price Per Share</th>
      <th>Stake</th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <% if @investments.last == investment %>
        <tr>
          <td><%= investment.name %></td>
          <td>--</td>
          <td>--</td>
          <td><%= investment.investment %></td>
          <td><%= investment.shares %></td>
          <td><%= @current_price_per_share %></td>
          <td><%= number_to_percentage investment.shares.to_f / @total_shares * 100%></td>
        </tr>
      <% else %>
        <tr>
          <td><%= investment.name %></td>
          <td><%= investment.investment %></td>
          <td><%= number_to_percentage investment.shares.to_f/ @total_shares_in_prev_round *100 %></td>
          <td><%= investment.investment %></td>
          <td><%= investment.shares %></td>
          <td><%= @current_price_per_share %></td>
          <td><%= number_to_percentage investment.shares.to_f/ @total_shares * 100 %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td><%= @investments_prev_round.map{|x|x.investment}.sum %></td>
      <td><%= number_to_percentage @investments_prev_round.map{|x|x.shares}.sum.to_f / @total_shares_in_prev_round * 100 %></td>
      <td><%= @investments.map{|x|x.investment}.sum %></td>
      <td><%= @investments.map{|x|x.shares}.sum %></td>
      <td></td>
      <td><%= number_to_percentage @investments.map{|x|x.shares}.sum.to_f / @total_shares * 100 %></td>
    </tr>
  </tfoot>
</table>

<br>
Pre money Valuation: <%= @pre_money_valuation %>
<br>

Post money Valuation: <%= @post_money_valuation %>
<br>

<%= link_to 'New Investment Round', new_investment_path %>
