<p id="notice"><%= notice %></p>

<p>
  <strong>Investment:</strong>
  <%= @investment.investment %>
</p>

<p>
  <strong>Shares:</strong>
  <%= @investment.shares %>
</p>

<p>
  <strong>Name:</strong>
  <%= @investment.name %>
</p>

<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
